<div class="form-floating">
  <input
    type="email"
    class="form-control sharedhome__input register__input"
    [placeholder]="placeholder"
    (input)="onChanged($any($event.target).value)"
    (blur)="onTouched()"
    [ngClass]="{
      'is-invalid': control?.touched && !control?.valid
    }"
    [value]="control?.value"
  />
  <label class="sharedhome__label"
    >{{ labelText | translate }}
    <span *ngIf="isRequired" class="required" aria-required="true">
      *
    </span></label
  >
  <div class="invalid-feedback" *ngIf="control?.touched && !control?.valid">
    <div *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </div>
    <div *ngIf="control?.hasError('email')">
      {{ "Please provide a valid email address." | translate }}
    </div>
  </div>
</div>
