<div class="d-flex flex-column h-100">
  <div class="row flex-grow-1 align-items-center align-items-sm-center">
    <div
      class="d-flex flex-wrap justify-content-center align-items-center align-content-sm-start align-content-md-around"
    >
      <div class="col-12 col-sm-8 col-md-6 mt-4 text-center">
        <img
          src="../../../../assets/images/sharedhomeLogo.png"
          alt="logo"
          class="logo"
        />
      </div>
      <div class="identity col-12 col-sm-8 col-md-6 ps-4 pe-4 mt-sm-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
