<div class="container-fluid">
  <div class="row">
    <div
      class="d-flex flex-wrap justify-content-around align-items-center align-content-around"
    >
      <div class="col-md-6 col-sm-4 col-xs-10 mt-4 text-center mb-3">
        <img
          src="../../../../assets/images/sharedhomeLogo.png"
          alt="logo"
          class="logo"
        />
      </div>
      <div class="identity col-md-6 col-sm-8 col-xs-10 ps-4 pe-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
