.welcome {
  &__app-name {
    font-family: "Damion", cursive;
    font-size: 30px;
    font-size: calc(100% + 5vw + 3vh);
  }
}

.d-flex {
  min-height: 90vh;
}

.identity {
  box-shadow: 0 6px 20px rgba(18, 18, 18, 0.4);
  border-radius: 14px;
}
