<mat-form-field class="full-width-field">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [placeholder]="placeholder | translate"
    [formControl]="control! | formControl"
    [required]="isRequired"
  />
  <mat-error *ngIf="control?.touched && !control?.valid">
    <mat-error *ngIf="control?.errors?.['required']">
      {{ "shared.inputs.field_required" | translate }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('minlength')">
      {{ "shared.inputs.min_length" | translate }}
      {{ control?.errors?.['minlength'].requiredLength }} &nbsp;
      {{ "shared.inputs.characters" }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('maxlength')">
      {{ "shared.inputs.max_length" | translate }}
      {{ control?.errors?.['maxlength'].requiredLength }} &nbsp;
      {{ "shared.inputs.characters" }}
    </mat-error>

    <mat-error *ngIf="control?.hasError('email')">
      {{ "shared.inputs.invalid_email" | translate }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('invalidFormat')">
      {{ control?.errors?.['invalidFormat'] | translate }}
    </mat-error>
  </mat-error>
</mat-form-field>
