<div class="form-floating">
  <input
    type="text"
    class="form-control sharedhome__input"
    [placeholder]="placeholder"
    (input)="onChanged($any($event.target).value)"
    (blur)="onTouched()"
    [disabled]="disabled"
    [ngClass]="{
      'is-invalid': control?.touched && !control?.valid
    }"
    [value]="control?.value"
  />
  <label
    class="sharedhome__label"
    [ngClass]="{
      'text-decoration-line-through': disabled
    }"
    >{{ labelText }}
    <span *ngIf="isRequired" class="required" aria-required="true">
      *
    </span></label
  >

  <div class="invalid-feedback" *ngIf="control?.touched && !control?.valid">
    <div *ngIf="showErrorMessage">
      <div *ngIf="control?.errors?.['required']">
        {{ "This field is required." | translate }}
      </div>
      <div *ngIf="control?.hasError('minlength')">
        {{ "This field must contain at least" | translate }}
        {{ control?.errors?.['minlength'].requiredLength }}
        {{ "characters." | translate }}
      </div>
      <div *ngIf="control?.hasError('maxlength')">
        {{ "This field can contain maximum" | translate }}
        {{ control?.errors?.['maxlength'].requiredLength }}
        {{ "characters." | translate }}
      </div>

      <div *ngIf="control?.hasError('invalidFormat')">
        {{ control?.errors?.['invalidFormat']  | translate }}
      </div>
    </div>
  </div>
</div>
