$l_primary_color: #3f51b5;
$l_primary_color_light: #bdc5fa;
$l_primary_color_dark: #243281;
$l_selected_item_color: #546dfe;
$l_unselected_item_color: #000000;
$l_black_color: black;
$l_white_color: white;
$l_error_color: #dc3545;
