@import "./_variables.scss";

.cal-cell-row:hover {
  background: none !important;
}

.cal-cell:hover {
  background: none !important;
  cursor: pointer;
}

// .cal-days .cal-today {
//   background-color: $l_primary_color !important;
// }

.cal-day-cell:hover {
  background: $l_primary_color_light !important;
}

.cal-open {
  background: $l_primary_color_light !important;
}
