<form
  class="row g-3 mb-2 mt-2"
  [formGroup]="forgotPasswordForm"
  (submit)="onSubmit()"
>
  <div *ngIf="information">{{ information }}</div>
  <h5 class="card-title mb-3">
    If the account with the specified email address exists, we will send an
    email to complete the operation
  </h5>

  <app-email-input formControlName="email"> </app-email-input>

  <div class="col-12 text-center mt-1">
    Have an account?
    <a class="text-decoration-none fw-bold" [routerLink]="['/identity/login']"
      >Login</a
    >
  </div>
  <app-button
    class="d-grid col-12 mb-4"
    [text]="'Remind' | translate"
    type="submit"
  ></app-button>
</form>
