<form class="row g-3" [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <span class="mb-3">
    {{
      "If the account with the specified email address exists, we will send an
    email to complete the operation." | translate
    }}
  </span>

  <app-email-input formControlName="email"> </app-email-input>

  <div class="col-12 text-center mt-1">
    {{ "Have an account" | translate }}?
    <a
      class="text-decoration-none fw-bold"
      [routerLink]="['/identity/login']"
      >{{ "Login" | translate }}</a
    >
  </div>
  <app-button
    class="d-grid col-12 mb-4"
    [text]="'Remind' | translate"
    type="submit"
    [disabled]="disabled"
    [loading]="loadingSaveButton"
  ></app-button>
</form>
