<div>
  {{
    "If the account with the specified email address exists, we will send an
    email to complete the operation." | translate
  }}
  <form [formGroup]="forgotPasswordForm" (submit)="onSubmit()">
    <app-error [errorMessages]="errorMessages"></app-error>

    <app-text-input label="Email" placeholder="Email" formControlName="email">
    </app-text-input>

    <div class="text-center mb-4">
      {{ "identity.have_an_account" | translate }}?
      <a
        class="text-decoration-none fw-bold"
        [routerLink]="['/identity/login']"
        >{{ "identity.login" | translate }}</a
      >
    </div>
    <app-button
      class="flex w-full justify-center"
      text="identity.remind"
      type="submit"
      [disabled]="disabled"
      [loading]="loadingSaveButton"
      [fullWidth]="true"
    ></app-button>
  </form>
</div>
