<app-button text="profile.change" (click)="openModal()"></app-button>

<app-form-modal
  #modal
  [modalConfig]="modalConfig"
  [formGroup]="changePasswordForm"
>
  <div [formGroup]="changePasswordForm">
    <app-password-input
      formControlName="currentPassword"
      label="profile.current_password"
      placeholder="profile.current_password"
    ></app-password-input>
    <app-password-form
      #passwordForm
      formControlName="newPassword"
    ></app-password-form>
  </div>
</app-form-modal>
