.identity {
  box-shadow: 0 6px 20px rgba(18, 18, 18, 0.4);
  border-radius: 14px;

  &__submit-btn,
  &__link-btn {
    box-shadow: 0 6px 20px rgba(18, 18, 18, 0.2);
    border-radius: 6px;
  }

  &__link-btn:hover {
    color: #3f51b5 !important;
  }

  &__submit-btn:hover {
    color: #3f51b5 !important;
  }

  .form-control:focus + .identity__label {
    color: #3f51b5 !important;
    opacity: 1;
    font-weight: 700;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #3f51b5;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(63, 81, 181, 0.2);
  }

  &__a {
    text-decoration: none;
    color: black;
  }

}
