.filters {
  width: 75%;
}
.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  border-right: none;
  border-left: none;
}

@media (max-width: 768px) {
  .filters {
    width: 100%;
  }
}
