<div class="flex flex-col h-full">
  <div [formGroup]="notificationsForm" class="flex flex-row gap-x-2 filters">
    <app-single-enum-select
      label="notifications.target"
      [enumType]="targetType"
      formControlName="targetType"
      [firstValueSelected]="true"
    ></app-single-enum-select>

    <app-single-enum-select
      label="notifications.type"
      [enumType]="notificationType"
      formControlName="notificationType"
      [firstValueSelected]="true"
    ></app-single-enum-select>
  </div>

  <div
    class="flex flex-col justify-between mb-2 h-full"
    *ngIf="notifications$ | async as paged; else loading"
  >
    <div
      class="flex flex-row justify-between items-center w-full border-b-2 mb-2 pb-1"
      *ngFor="let notification of paged.items"
    >
      <div class="px-2">{{ notification.title }}</div>
      <div class="flex flex-col text-end">
        <div>
          {{ notification.createdAt | date : "shortDate" }}
        </div>
        <div>{{ notification.createdByFullName }}</div>
      </div>
    </div>

    <app-pagination
      class="flex-auto flex flex-col justify-end"
      [currentPage]="paged.currentPage"
      [totalPages]="paged.totalPages"
      (nextPage)="onNext()"
      (previousPage)="onPrevious()"
      (goToPage)="goTo($event)"
    ></app-pagination>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
