<app-circle-button
  [tooltipText]="'shopping-lists.addshoppinglist' | translate"
  (click)="openModal()"
></app-circle-button>

<app-modal #modal [modalConfig]="modalConfig">
  <div class="row g-3" [formGroup]="addShoppingListForm">
    <app-error [errorMessages]="errorMessages"></app-error>
    <app-text-input
      formControlName="name"
      labelText="Name"
      placeholder="Name"
    ></app-text-input>
  </div>
  <app-add-many-shopping-list-products-form
    #addManyShoppingListProducts
  ></app-add-many-shopping-list-products-form>
</app-modal>
