<app-circle-button
  tooltip="shopping_lists.add_shopping_list"
  (click)="openModal()"
></app-circle-button>

<app-form-modal
  #modal
  [modalConfig]="modalConfig"
  [formGroup]="addShoppingListForm"
>
  <div [formGroup]="addShoppingListForm">
    <app-text-input
      formControlName="name"
      label="shopping_lists.name"
      placeholder="shopping_lists.name"
    ></app-text-input>
  </div>
  <app-add-many-shopping-list-products-form
    #addManyShoppingListProducts
  ></app-add-many-shopping-list-products-form>
</app-form-modal>
