<div class="calendar">
  <div
    *ngIf="events$ | async as evs; else loading"
    class="row align-items-center"
  >
    <h4 class="col-12 col-sm-4 col-md-4 col-lg-2 text-center text-sm-start">
      {{ viewDate | calendarDate: view + "ViewTitle":locale | titlecase }}
    </h4>
    <div
      class="col-8 col-sm-6 col-md-6 col-lg-8 text-center justify-content-center"
    >
      <div class="row justify-content-center align-items-center">
        <fa-icon
          class="col-2 col-sm-2 col shared-home-icon"
          [icon]="previousMonthIcon"
          [title]="'Previous' | translate"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="onMonthChanged($event)"
        >
          {{ "Previous" | translate }}
        </fa-icon>

        <div
          class="col-4 col-sm-4 col-lg-2 justify-content-center btn btn-outline-primary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="onMonthChanged($event)"
        >
          {{ "Current" | translate }}
        </div>
        <fa-icon
          class="col-2 col-sm-2 shared-home-icon"
          [icon]="nextMonthIcon"
          [title]="'Next' | translate"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="onMonthChanged($event)"
        >
          {{ "Next" | translate }}
        </fa-icon>
      </div>
    </div>

    <app-add-bill
      class="col-4 col-sm-2 col-md-2 col-lg-2 text-end"
    ></app-add-bill>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="evs"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [activeDayIsOpen]="activeDayIsOpen"
      [openDayEventsTemplate]="openDayEventsTemplate"
      (dayClicked)="dayClicked($event.day.date, evs)"
      [refresh]="refresh"
      [cellTemplate]="customCellTemplate"
      [activeDay]="dateSelected"
    >
    </mwl-calendar-month-view>

    <app-table
      *ngIf="currentDayEvents.length > 0"
      [settings]="columnSettings"
      [records]="currentDayEvents"
      [actions]="getPopupMenuConfigs(currentDayEvents)"
    ></app-table>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>

<ng-template
  #openDayEventsTemplate
  let-events="events"
  let-eventClicked="eventClicked"
>
</ng-template>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">{{
      day.date | calendarDate: "monthViewDayNumber":locale
    }}</span>
  </div>

  <app-bill-type-icons
    [billTypes]="getBillTypes(day.events)"
    [billEvents]="day.events"
  ></app-bill-type-icons>
</ng-template>

<app-confirmation-modal
  [confirmationModalConfig]="deleteBillModalConfig"
  #deleteBillModal
></app-confirmation-modal>

<app-pay-for-bill #payForBillModal></app-pay-for-bill>

<app-cancel-bill-payment #cancelBillPaymentModal></app-cancel-bill-payment>
