@import "/src/assets/_variables.scss";

.calendar {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__title {
    display: flex;
    flex-grow: 5;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .header {
    &__buttons {
      display: flex;
      flex-direction: column;
    }
  }
}
