<div class="calendar">
  <div *ngIf="events$ | async as evs; else loading">
    <div class="header">
      <div class="header__title">
        <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
      </div>
      <div class="header__buttons">
        <div
          class="btn btn-primary sharedhome-btn"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          Previous month
        </div>
        <div class="btn" mwlCalendarToday [(viewDate)]="viewDate">
          Current month
        </div>
        <div
          class="btn btn-primary sharedhome-btn"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          Next month
        </div>
      </div>
    </div>

    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="evs"
      [weekStartsOn]="weekStartsOn"
      [activeDayIsOpen]="activeDayIsOpen"
      [openDayEventsTemplate]="openDayEventsTemplate"
      (dayClicked)="dayClicked($event.day.date, evs)"
      [refresh]="refresh"
    ></mwl-calendar-month-view>

    <app-table
      *ngIf="currentDayEvents.length > 0"
      [settings]="columnSettings"
      [records]="currentDayEvents"
      [actions]="tablePopupMenuConfig"
    ></app-table>
  </div>
  <ng-template #loading>
    <app-loading-spinner class="spinner"> Loading... </app-loading-spinner>
  </ng-template>
</div>

<ng-template
  #openDayEventsTemplate
  let-events="events"
  let-eventClicked="eventClicked"
>
</ng-template>
