<app-year-select
  class="flex w-2/5 md:w-1/5"
  (changeYearEvent)="setDataOnYearChange($event)"
></app-year-select>
<div class="flex flex-col">
  <div
    class="flex-grow mt-3"
    *ngIf="
      shoppingListMonthlyCost$ | async as shoppingListResponse;
      else loadingShoppingLists
    "
  >
    <div class="chart-container" *ngIf="anyCosts; else noShoppingLists">
      <canvas
        baseChart
        [data]="barChartData"
        [options]="getBarChartOptions(shoppingListResponse.data)"
        [plugins]="barChartPlugins"
        [type]="barChartService.barChartType"
      >
      </canvas>
    </div>
    <ng-template #noShoppingLists
      ><div class="text-center">
        {{ "No shopping lists done" | translate }} [{{ chosenYear }}]
      </div></ng-template
    >
  </div>
  <ng-template #loadingShoppingLists>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
