<div
  class="card shopping-list"
  [ngClass]="{ 'shopping-list-done': shoppingList.isDone }"
>
  <div class="card-header">
    <h3
      class="card-title"
      [ngClass]="{ 'shopping-list-done': shoppingList.isDone }"
    >
      {{ shoppingList.name }}
    </h3>

    <div class="card-header__operations">
      <fa-icon
        [icon]="detailsIcon"
        class="shared-home-icon"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        [title]="'Details' | translate"
        aria-haspopup="true"
        aria-expanded="true"
        (click)="openShoppingList(shoppingList.id)"
      ></fa-icon>
      <app-popup-menu
        [popupMenuConfig]="headerPopupMenuConfig"
      ></app-popup-menu>
    </div>
  </div>
  <div
    class="card-footer border-top"
    [ngClass]="{ 'shopping-list-done': shoppingList.isDone }"
  >
    <h5>
      {{ shoppingList.createdBy }}
    </h5>
    <h5>{{ "Total price" | translate }}:</h5>
    <h5>
      {{ shoppingList.countBoughtProducts() }} /
      {{ shoppingList.products.length }} {{ "products bought" | translate }}
    </h5>
    <h5>{{ shoppingList.countTotalPrice() }} zł</h5>
  </div>
</div>

<app-confirmation-modal
  [confirmationModalConfig]="deleteShoppingListModalConfig"
  #deleteShoppingList
></app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="markAsDoneModalConfig"
  #markAsDoneModal
>
</app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="markAsUndoneModalConfig"
  #markAsUndoneModal
>
</app-confirmation-modal>

<app-edit-shopping-list-modal
  #editShoppingListModal
  [shoppingList]="shoppingList"
  [isSingleRefresh]="false"
></app-edit-shopping-list-modal>
