@import "/src/assets/_variables.scss";

.shopping-list {
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
}

.card-header {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-bottom: none;

  &__operations {
    display: flex;
    margin-left: auto;
    font-size: 1.5rem;
    gap: 20px;
  }
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;

  :nth-child(odd) {
    text-align: left;
  }

  :nth-child(even) {
    text-align: right;
  }
}
