<div
  (window:resize)="screenSizeHelper.isMobile()"
  class="shopping-list-card pt-1"
  [ngClass]="{ 'shopping-list-done': shoppingList.isDone }"
>
  <div class="card-header flex flex-row justify-between mb-2 pl-2 pr-1 text-xl">
    <div class="text-lg">{{ shoppingList.name }}</div>
    <div class="flex flex-row justify-self-end justify-items-end">
      <mat-icon
        [title]="'Details' | translate"
        (click)="openShoppingList(shoppingList.id)"
      >
        info</mat-icon
      >
      <app-popup-menu
        [popupMenuConfig]="headerPopupMenuConfig"
      ></app-popup-menu>
    </div>
  </div>
  <div
    class="card-footer grid grid-cols-2 gap-3 pt-0.5 pb-1 px-2 border-top text-base"
  >
    <div>{{ "Total price" | translate }}:</div>
    <div class="justify-self-end">{{ countTotalPrice() }} zł</div>
    <div>
      {{ countBoughtProducts() }} / {{ shoppingList.products.length }}
      {{ "products bought" | translate }}
    </div>
    <ng-template #boughtProducts>
      <div>{{ "no products" | translate }}</div>
    </ng-template>
    <div
      [title]="shoppingList.createdBy"
      *ngIf="screenSizeHelper.isMobile(); else createdByLetters"
    >
      {{ shoppingList.createdBy | firstLettersToTitleCase }}
    </div>
    <ng-template #createdByLetters>
      <div class="justify-self-end">{{ shoppingList.createdBy }}</div>
    </ng-template>
  </div>
</div>

<app-confirmation-modal
  [confirmationModalConfig]="deleteShoppingListModalConfig"
  #deleteShoppingList
></app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="markAsDoneModalConfig"
  #markAsDoneModal
>
</app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="markAsUndoneModalConfig"
  #markAsUndoneModal
>
</app-confirmation-modal>

<app-edit-shopping-list-modal
  #editShoppingListModal
  [shoppingList]="shoppingList"
  [isSingleRefresh]="false"
></app-edit-shopping-list-modal>
