<div class="container-fluid">
  <div class="shopping-lists">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shopping-list">
          <div class="card-header">
            <h5 class="card-title">Biedronka</h5>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 2</li>
          </ul>
          <div class="card-footer">
            <div>Karol Niedziela</div>
            <div>2 / 3</div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shopping-list">
          <div class="card-header">
            <h5 class="card-title">Biedronka</h5>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 2</li>
          </ul>
          <div class="card-footer">
            <div>Karol Niedziela</div>
            <div>2 / 3</div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shopping-list">
          <div class="card-header">
            <h5 class="card-title">Biedronka</h5>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 2</li>
          </ul>
          <div class="card-footer">
            <div>Karol Niedziela</div>
            <div>2 / 3</div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shopping-list">
          <div class="card-header">
            <h5 class="card-title">Biedronka</h5>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 2</li>
          </ul>
          <div class="card-footer">
            <div>Karol Niedziela</div>
            <div>2 / 3</div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card shopping-list">
          <div class="card-header">
            <h5 class="card-title">Biedronka</h5>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item">Item</li>
            <li class="list-group-item">Item 2</li>
            <li class="list-group-item">Item 2</li>
          </ul>
          <div class="card-footer">
            <div>Karol Niedziela</div>
            <div>2 / 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
