<div class="d-flex flex-row">
  <div class="form-floating w-100">
    <input
      [type]="fieldTextType ? 'text' : 'password'"
      class="form-control sharedhome__input register__input"
      [placeholder]="placeholder"
      (input)="onChanged($any($event.target).value)"
      (blur)="onTouched()"
      [ngClass]="{
        'is-invalid': control?.touched && !control?.valid
      }"
      [value]="control?.value"
    />
    <label class="sharedhome__label"
      >{{ labelText | translate }}
      <span class="required" aria-required="true"> * </span></label
    >
    <div class="invalid-feedback" *ngIf="control?.touched && !control?.valid">
      <div *ngIf="control?.errors?.['required']">
        {{ "This field is required." | translate }}
      </div>
    </div>
  </div>

  <span class="input-group-text" (click)="togglePassword()"
    ><fa-icon [icon]="fieldTextType ? eyeIcon : eyeSlashIcon"></fa-icon
  ></span>
</div>
