<div class="input-group">
  <div class="form-floating flex-grow-1">
    <input
      [type]="fieldTextType ? 'text' : 'password'"
      class="form-control sharedhome__input register__input"
      [placeholder]="placeholder"
      (input)="onChanged($any($event.target).value)"
      (blur)="onTouched()"
      [ngClass]="{
        'is-invalid': controlDir?.control?.touched && !controlDir.control?.valid
      }"
    />

    <label class="sharedhome__label">{{ labelText }}</label>
  </div>
  <span class="input-group-text" (click)="togglePassword()"
    ><fa-icon [icon]="fieldTextType ? eyeIcon : eyeSlashIcon"></fa-icon
  ></span>
  <div
    [ngClass]="{
      'd-block': controlDir?.control?.touched && !controlDir.control?.valid
    }"
    class="invalid-feedback"
    *ngIf="controlDir?.control?.touched && !controlDir.control?.valid"
  >
    <div *ngIf="controlDir.control?.hasError('invalidFormat')">
      {{ controlDir.control?.errors?.['invalidFormat'].message }}
    </div>
  </div>
</div>
