<mat-form-field class="full-width-field">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [placeholder]="placeholder"
    [formControl]="control!"
    [required]="isRequired"
    type="password"
  />
  <mat-error *ngIf="control?.touched && !control?.valid">
    <mat-error *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </mat-error>
    <mat-error
      *ngIf="control?.hasError('invalidFormat') && control?.value.length > 0"
    >
      {{ control?.errors?.['invalidFormat']  | translate }}
    </mat-error>
  </mat-error>
</mat-form-field>
