<div class="icon-wrapper">
  <div class="dropdown" id="notificationDropdown">
    <fa-icon
      class="shared-home-icon btn"
      [title]="'notifications' | translate"
      [icon]="notificationIcon"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
    </fa-icon>

    <div *ngIf="notificationsCount$ | async as notificationsCount">
      <span class="badge bg-primary" *ngIf="notificationsCount != '0'">{{
        notificationsCount
      }}</span>
    </div>

    <ul
      class="dropdown-menu notifications dropdown-menu-end"
      *ngIf="notifications$ | async as notifications"
    >
      <div class="notification-heading">
        <h4 class="menu-title">{{ "notifications" | translate }}</h4>
        <a
          ><h5 class="view-all" [routerLink]="['notifications']">
            {{ "view all" | translate }}
          </h5></a
        >
      </div>
      <li class="divider"></li>
      <div class="notifications-wrapper">
        <div
          class="notification-item"
          *ngFor="let notification of notifications"
        >
          <div class="notification-item__title">{{ notification.title }}</div>
          <div
            class="notification-item__status bg-primary"
            *ngIf="!notification.isRead"
          ></div>
          <div
            class="notification-item__creator bg-primary"
            *ngIf="notification.createdBy"
          >
            <span [title]="notification.createdBy"
              >{{ notification.createdBy | firstLettersToTitleCase }}
            </span>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>
