<div class="flex flex-row item-center" [formGroup]="netContentFormGroup">
  <div class="w-full">
    <app-number-input
      formControlName="netContent"
      [label]="'Net Content' | translate"
      [placeholder]="'Net Content' | translate"
    ></app-number-input>
  </div>
  <div class="w-full ml-2 mt-0.5">
    <app-single-enum-select
      formControlName="netContentType"
      [label]="'Net Content Type' | translate"
      [enumType]="netContentType"
    ></app-single-enum-select>
  </div>
</div>
