/*
----------- THEME -----------
*/

$theme: "dark" !default;

/*
----------- PROPERTIES -----------
*/

$l_primary_color: #4caf50;
$l_primary_color_light: #81c784;
$l_black_color: #000000;
$l_white_color: #ffffff;
$l_error_color: #dc3545;
$l_grey_color: #f5f5f5;
$l_background_color: #424242;

$primary: $l_primary_color !default;
$light: #e2e3e5 !default;

$body-bg: $l_background_color !default;
$body-color: $l_white_color !default;

$list-group-color: $l_white_color !default;
$list-group-bg: $l_background_color !default;
$list-group-border-color: $l_white_color !default;

$card-color: $l_white_color !default;
$card-bg: $l_background_color !default;

/*
----------- LOGO -----------
*/

.logo {
  filter: invert(58%) sepia(9%) saturate(3044%) hue-rotate(73deg)
    brightness(100%) contrast(82%);
}

/*
----------- IDENTITY -----------
*/

.welcome {
  color: $l_primary_color;
}

/*
----------- CARDS -----------
*/
.shopping-list-card {
  box-shadow: rgb(255 255 255 / 12%) 0px 8px 40px 0px !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  border-left: 8px solid $l_primary_color !important;
  transition: box-shadow 0.2s ease 0s, transform 0.2s ease 0s;
  background-color: $l_background_color !important;
  border-radius: 4px !important;

  &:hover {
    box-shadow: rgb(255 255 255 / 36%) 0px 16px 32px 0px !important;
  }

  &-header {
    background-color: $l_background_color !important;
  }

  &-body {
    background-color: $l_background_color !important;
  }

  &-footer {
    background-color: $l_background_color !important;
  }
}

/*
----------- PRODUCT -----------
*/
.product {
  &:hover .product-name {
    border-bottom: 4px solid $l_primary_color;
  }
  .product-name.selected {
    border-bottom: 4px solid $l_primary_color;
  }
}

/*
----------- SIDEBAR -----------
*/

.nav-link {
  color: $l_white_color !important;

  &.active {
    color: $l_primary_color !important;
  }
}

.nav-link a:hover {
  color: $l_primary_color_light !important;
}

/*
----------- ICONS -----------
*/
.shared-home-icon {
  color: $l_white_color !important;

  &:hover {
    cursor: pointer;
    color: $l_primary_color !important;
  }
}

/*
----------- LINKS -----------
*/

a {
  text-decoration: none;
  color: $l_white_color !important;
}

a:hover {
  color: $l_primary_color !important;
  cursor: pointer;
}

a.current {
  color: $l_white_color !important;
  background-color: $l_primary_color !important;
  padding: 8px;
}

/*
----------- DROPDOWNS -----------
*/

.dropdown-item:hover {
  background-color: $l_primary_color !important;
  color: $l_white_color !important;
}

.dropdown-toggle:hover::after {
  color: $l_primary_color !important;
}

.dropdown-menu {
  background-color: $l_background_color !important;
}

.dropdown-item {
  background-color: $l_background_color !important;
  color: $l_white_color !important;
}

/*
----------- INPUTS -----------
*/

$input-group-addon-bg: $l_background_color !default;
input:disabled {
  background-color: $l_background_color !important;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  color-scheme: dark;
}

.form-control:focus {
  color: $l_white_color !important;
  background-color: rgba($color: $l_black_color, $alpha: 0.3) !important;
  border-color: $l_primary_color !important;
  box-shadow: 0 0 0 0.25rem $l_primary_color_light !important;
}

.form-control:focus + .sharedhome__label {
  color: $l_primary_color !important;
}

/*
----------- BUTTONS -----------
*/

.btn {
  color: $l_white_color !important;
}

/*
----------- MODAL -----------
*/

.modal-content {
  background-color: $l_background_color !important;
}

.dismiss-icon {
  &:hover {
    color: $l_primary_color !important;
  }
}

/*
----------- SPINNER -----------
*/
.spinner-border {
  color: $l_primary_color !important;
}

hr {
  border-bottom: 1px solid $l_white_color !important;
  background: $l_background_color !important;
}

/*
----------- CALENDAR -----------
*/

.calendar {
  color: $l_white_color !important;
}

.cal-cell-row {
  background: $l_background_color !important;

  &:hover {
    background: $l_background_color !important;
  }
}

.cal-day-number {
  color: $l_white_color !important;
  opacity: 1 !important;
}

.cal-cell-row {
  background: $l_background_color !important;
}

.cal-days {
  background-color: $l_background_color !important;

  .cal-today {
    background: $l_grey_color !important;

    .cal-day-number {
      color: $l_black_color !important;
    }
  }
}

.cal-day-cell {
  &:hover {
    background: $l_primary_color_light !important;
  }
}

.cal-open {
  background: $l_primary_color_light !important;
}

/*
----------- MEDIA MAX-WIDTH: 768px -----------
*/

/*
----------- SIDEBAR -----------
*/

@media (max-width: 768px) {
  .sidebar {
    background-color: rgba($color: $l_background_color, $alpha: 0.8);
    color: $l_white_color !important;

    .nav-link {
      color: $l_white_color !important;

      &:hover {
        color: $l_primary_color_light !important;
      }

      &.active {
        color: $l_primary_color_light !important;
      }
    }

    hr {
      color: $l_white_color;
    }
  }
}

@import "~bootstrap/scss/bootstrap";
