@import "/src/assets/_variables.scss";

.nav.nav-pills {
  width: 100%;
}

.tab-item {
  cursor: pointer;
  color: black;

  &:hover {
    background-color: $l_primary_color_light;
  }

  &.active {
    background-color: $l_primary_color;
  }
}
