<!-- <app-button text="Add shopping list product" (click)="openModal()"
  >Open Modal</app-button
> -->

<app-modal #addShoppingListProductModal [modalConfig]="modalConfig">
  <div class="row g-3" [formGroup]="addShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      labelText="Product Name"
      placeholder="Product Name"
      [isRequired]="true"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      labelText="Quantity"
      placeholder="Quantity"
      [value]="addShoppingListProductForm.get('quantity')?.value"
      [isRequired]="true"
    ></app-number-input>
    <app-text-input
      formControlName="netContent"
      labelText="Net Content"
      placeholder="Net Content"
    ></app-text-input>
    <app-single-select
      formControlName="netContenType"
      labelText="Net Content Type"
      [enumType]="netContentType"
    ></app-single-select>
  </div>
</app-modal>
