@use "sass:map";
@use "@angular/material" as mat;

nav {
  height: 52px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.logo {
  width: 200px;
  height: 30px;
}

.shared-home-icon {
  font-size: 25px;
}

.menu-toggle {
  position: relative;
  height: 25px;
  width: 25px;
}

.hamburger {
  position: absolute;
  top: 10px;
  padding-left: 1rem;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 99px;
  transition-duration: 0.25s;
  background-color: black !important;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

// Hambuger animation
.hamburger.open > span {
  transform: rotate(45deg);
}
.hamburger.open > span::before {
  top: 0;
  transform: rotate(0deg);
}
.hamburger.open > span::after {
  top: 0;
  transform: rotate(90deg);
}

@mixin lightTheme($theme) {
  .logo {
    filter: brightness(0) saturate(100%) invert(29%) sepia(89%) saturate(865%)
      hue-rotate(205deg) brightness(87%) contrast(95%);
  }
}

@mixin darkTheme($theme) {
  .logo {
    filter: invert(58%) sepia(9%) saturate(3044%) hue-rotate(73deg)
      brightness(100%) contrast(82%);
  }
}
