@import "/src/assets/_variables.scss";

nav {
  padding: 0 1rem;
  height: 56px;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  img {
    border-radius: 50%;
  }
}

.logo {
  width: 200px;
  height: 30px;
}

.shared-home-icon {
  font-size: 25px;
}

.menu-toggle {
  position: relative;
  height: 25px;
  width: 25px;
}

.hamburger {
  position: absolute;
  top: 10px;
  padding-left: 1rem;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background-color: #fff;
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}

.hamburger > span::after {
  content: "";
  top: 8px;
}

.navbar.is-active .hamburger > span {
  transform: rotate(45deg);
}

.navbar.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}

.navbar.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}
