@import "/src/assets/_variables.scss";

.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 1rem 1rem 1rem;
  border-top: 1px solid lightgrey;

  &__company {
    width: 95%;
  }

  &__icons {
    width: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
  }
}

a {
  color: $l_black_color;
}
