@import "/src/assets/variables.scss";

.footer {
  padding: 1rem 1rem 1rem 1rem;

  &__icons {
    width: 10%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
  }
}

a {
  color: $l_black_color;
}
