<div class="d-flex flex-column align-items-center justify-content-center">
  <div *ngIf="errorMessages != null && errorMessages.length != 0">
    <div class="fs-2">
      <app-error [errorMessages]="errorMessages"></app-error>
    </div>
    <div class="fs-3">
      Click button to login:
      <app-button text="Login" [routerLink]="['/identity/login']"> </app-button>
    </div>
    <div class="fs-3 mt-2">
      Click button to register:
      <app-button text="Login" [routerLink]="['/identity/register']">
      </app-button>
    </div>
  </div>
  <hr class="mt-4" />
</div>
