:host {
  height: 100%;
}

.house-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  &__members {
    flex: 1;
  }

  &__operations {
    margin-top: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  border-right: none;
  border-left: none;
}

.add-housegroup {
  display: flex;
  justify-content: flex-end;
}
