<div
  class="h-full"
  *ngIf="(houseGroup$ | async)?.data; let houseGroup; else: notExisting"
>
  <div class="flex flex-row justify-between">
    <span class="pt-2"
      ><span class="text-base">{{ "Name" | translate }}: </span>
      <span class="font-medium text-lg">{{ houseGroup.name }}</span></span
    >
    <div class="flex flex-row gap-2">
      <app-circle-button
        *ngIf="isCurrentUserOwner"
        icon="delete"
        tooltipText="Delete house group"
        (onButtonClick)="deleteHouseGroupModal.open()"
      ></app-circle-button>
      <app-circle-button
        icon="logout"
        tooltip="Leave house group"
        (onButtonClick)="leaveHouseGroupModal.open()"
      ></app-circle-button>
      <app-invite-to-house-group
        [houseGroupId]="houseGroupId"
      ></app-invite-to-house-group>
    </div>
  </div>
  <div *ngIf="houseGroup != null; else notExisting">
    <mat-list>
      <div *ngFor="let member of houseGroup.members">
        <app-house-group-member
          [member]="member"
          [isCurrentUserOwner]="isCurrentUserOwner"
          [houseGroupId]="houseGroupId"
        ></app-house-group-member>
      </div>
    </mat-list>
  </div>
</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<ng-template #notExisting>
  <div *ngIf="!loading" class="flex flex-row justify-end">
    <app-add-house-group></app-add-house-group>
  </div>
</ng-template>

<app-confirmation-modal
  [confirmationModalConfig]="leaveHouseGroupModalConfig"
  #leaveHouseGroup
></app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="deleteHouseGroupModalConfig"
  #deleteHouseGroup
></app-confirmation-modal>
