<div
  class="house-group"
  *ngIf="(houseGroup$ | async)?.data; let houseGroup; else: notExisting"
>
  <div class="house-group__members">
    <ul class="list-group" *ngFor="let member of houseGroup.members">
      <app-house-group-member
        [member]="member"
        [isCurrentUserOwner]="isCurrentUserOwner"
        [houseGroupId]="houseGroupId"
      ></app-house-group-member>
    </ul>
  </div>
  <div class="house-group__operations">
    <app-circle-button
      [icon]="leaveHouseGroupIcon"
      [tooltipText]="'Leave house group' | translate"
      (onButtonClick)="leaveHouseGroupModal.open()"
    ></app-circle-button>
    <app-invite-to-house-group
      [houseGroupId]="houseGroupId"
    ></app-invite-to-house-group>
  </div>
</div>
<ng-template #notExisting>
  <div class="add-housegroup">
    <app-add-house-group></app-add-house-group>
  </div>
</ng-template>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<app-confirmation-modal
  [confirmationModalConfig]="leaveHouseGroupModalConfig"
  #leaveHouseGroup
></app-confirmation-modal>
