.house-group {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.add-member {
  margin-top: auto;
  margin-left: auto;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px;
  border-right: none;
  border-left: none;
}

.operations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
