.app {
  display: flex;
  height: 100%;
  width: 100%;

  .sharedhome-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow-y: scroll;
  }
}

.sharedhome-content {
  width: 95%;
  margin: 0 auto;
  flex: 1;
}

app-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: flex-end;
}
