<!-- <app-sidebar
  *ngIf="authenticationResponse"
  class="sidebar d-flex flex-column"
></app-sidebar>

<div class="sharedhome_content">
  <div class="container-fluid"><router-outlet></router-outlet></div>

  <app-footer *ngIf="authenticationResponse"></app-footer>
</div> -->
<!-- <ng-container *ngIf="loading$ | async">
  <app-loading-spinner></app-loading-spinner>
</ng-container> -->
<div class="app">
  <app-sidebar class="sidebar" *ngIf="authenticationResponse"></app-sidebar>
  <div class="container-fluid">
    <div class="sharedhome-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer *ngIf="authenticationResponse"></app-footer>
  </div>
</div>
