.sharedhome_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 80px;
  height: 100%;
  width: calc(100% - 80px);
  transition: all 0.5s ease;
  padding-top: 10px;

  .container-fluid {
    width: 95%;
  }

  app-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: flex-end;
  }
}

.sidebar.active ~ .sharedhome_content {
  left: 240px;
  width: calc(100% - 240px);
}
