<div class="flex h-full w-full flex-col overflow-hidden">
  <app-navbar (darkModeSwitched)="switchMode()"></app-navbar>
  <div class="main flex flex-row overflow-auto w-full h-full">
    <aside class="sidebar" *ngIf="authenticationResponse">
      <app-sidebar></app-sidebar>
    </aside>
    <div class="content flex flex-col w-full">
      <div class="content-main flex-grow pt-2 px-2 md:px-4">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="mt-auto"></app-footer>
    </div>
  </div>
</div>
