<div class="d-flex flex-column align-items-center justify-content-center">
  <div class="fs-2">
    {{ confirmedMessage }}
  </div>
  <div class="fs-3">
    Click button to login:
    <app-button text="Login" [routerLink]="['/identity/login']"> </app-button>
  </div>

  <!-- <div class="row">
    <div class="d-flex flex-wrap justify-content-around align-items-center">
      <div class="col-md-6 mt-4 text-center welcome">
        <div class="welcome__app-name">Shared home</div>
      </div>
      <div class="text-center col-md-56 ps-4 pe-4"></div>
    </div>
  </div>
</div>
<hr class="mt-4" /> -->
</div>
<hr class="mt-4" />
