@import "/src/assets/_variables.scss";

.sidebar {
  flex: 1 1 0;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  position: fixed;
  display: none;
  top: 2px;
  right: 1.7rem;
  border-radius: 99px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;

  &:hover &__hamburger span::before {
    top: -10px;
  }
  &:hover &__hamburger span::after {
    bottom: -10px;
  }

  &.is-active &__hamburger > span {
    transform: rotate(45deg);
  }

  &.is-active &__hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  &.is-active &__hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  &__hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
  }

  &__hamburger span {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 3px;

    vertical-align: middle;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-px);
  }

  &__hamburger span::before,
  &__hamburger span::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  &__hamburger span::before {
    content: "";
    top: -8px;
  }

  &__hamburger span::after {
    content: "";
    bottom: -8px;
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;

    .nav-item {
      position: relative;
      width: 100%;
      text-align: center;

      .nav-link {
        display: flex;
        transition: none;

        &:hover {
          border-right: 5px solid;
        }

        &.active {
          border-right: 5px solid;
        }

        fa-icon {
          text-align: center;
          min-width: 30px;
        }

        .links_name {
          flex-grow: 1;
          text-align: center;
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
    z-index: 3;
  }

  .sidebar.is-active {
    left: 0;
  }

  .nav-link {
    transition: none;

    &:hover {
      border-right: 5px solid;
    }

    &.active {
      border-right: 5px solid;
    }
  }
}
