<div class="sidenav overflow-auto">
  <ul class="nav">
    <li class="nav-item flex flex-row py-2.5">
      <a
        class="nav-link py-2 flex-grow items-center"
        [title]="'shopping_lists.module' | translate"
        [routerLink]="['/shoppinglists']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="pl-4">shopping_cart</mat-icon>
        <span class="text-center flex-grow"
          >{{ "shopping_lists.module" | translate }}
        </span>
      </a>
    </li>
    <mat-divider></mat-divider>
    <li class="nav-item flex flex-row py-2.5">
      <a
        class="nav-link py-2 flex-grow items-center"
        [routerLink]="['/bills']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="pl-4">description</mat-icon>
        <span class="text-center flex-grow">{{ "bills" | translate }}</span>
      </a>
    </li>
    <mat-divider></mat-divider>
    <li class="nav-item flex flex-row py-2.5">
      <a
        class="nav-link py-2 flex-grow items-center"
        [routerLink]="['/housegroups']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="pl-4">supervisor_account</mat-icon>
        <span class="text-center flex-grow">{{
          "houseGroup" | translate
        }}</span>
      </a>
    </li>
    <mat-divider></mat-divider>
    <li class="nav-item flex flex-row py-2.5">
      <a
        class="nav-link py-2 flex-grow items-center"
        [routerLink]="['/expenses']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="pl-4">bar_chart</mat-icon>
        <span class="text-center flex-grow">{{ "expenses" | translate }}</span>
      </a>
    </li>
    <mat-divider></mat-divider>
    <li class="nav-item flex flex-row py-2.5">
      <a
        class="nav-link py-2 flex-grow items-center"
        [routerLink]="['/invitations']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <mat-icon class="pl-4">email</mat-icon>
        <span class="text-center flex-grow">{{
          "invitations" | translate
        }}</span>
      </a>
    </li>
  </ul>
  <ul class="nav d-flex flex-column justify-content-end"></ul>
</div>
