<div class="sidenav d-flex flex-column overflow-auto">
  <ul class="nav d-flex flex-column h-100">
    <li class="nav-item">
      <a
        class="nav-link"
        [title]="'shoppingLists' | translate"
        [routerLink]="['/shoppinglists']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="shoppingListsIcon"></fa-icon>
        <span class="text-center flex-grow-1"
          >{{ "shoppingLists" | translate }}
        </span>
      </a>
    </li>
    <hr />
    <li class="nav-item">
      <a
        class="nav-link link-dark"
        [routerLink]="['/bills']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="billsIcon"></fa-icon>
        <span class="text-center flex-grow-1">{{ "bills" | translate }}</span>
      </a>
    </li>
    <hr />
    <li class="nav-item">
      <a
        class="nav-link link-dark"
        [routerLink]="['/housegroups']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="houseGroupIcon"></fa-icon>
        <span class="text-center flex-grow-1">{{
          "houseGroup" | translate
        }}</span>
      </a>
    </li>
    <hr />
    <li class="nav-item">
      <a
        class="nav-link link-dark active"
        [routerLink]="['/expenses']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="expensesIcon"></fa-icon>
        <span class="text-center flex-grow-1">{{
          "expenses" | translate
        }}</span>
      </a>
    </li>
    <hr />
    <li class="nav-item">
      <a
        class="nav-link link-dark"
        [routerLink]="['/invitations']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <fa-icon [icon]="invitationsIcon"></fa-icon>
        <span class="text-center flex-grow-1">{{
          "invitations" | translate
        }}</span>
      </a>
    </li>
  </ul>
  <ul class="nav d-flex flex-column justify-content-end">
    <!-- <hr /> -->
    <!-- <li class="nav-item">
      <a (click)="logout()" class="nav-link link-dark">
        <fa-icon [icon]="logoutIcon"></fa-icon>
        <span class="text-center flex-grow-1">{{ "logOut" | translate }}</span>
      </a>
    </li> -->
  </ul>
</div>
