@import "/src/assets/_variables.scss";

.sidebar {
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.sidenav {
  display: flex;
  flex-direction: column;
  top: 65px;
  bottom: 0;
  position: fixed;
  min-width: 240px;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style: none;

    .nav-item {
      position: relative;
      width: 100%;
      text-align: center;

      .nav-link {
        display: flex;
        transition: none;

        &:hover {
          border-right: 5px solid;
        }

        &.active {
          border-right: 5px solid;
        }

        fa-icon {
          text-align: center;
          min-width: 30px;
        }

        .links_name {
          flex-grow: 1;
          text-align: center;
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    justify-content: flex-end;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: -300px;
    max-width: 300px;

    z-index: 3;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  .sidebar.is-active {
    top: 56px;
    left: 0;
  }

  .nav-link {
    transition: none;
    margin-top: 10px;

    &:hover {
      border-right: 5px solid;
    }

    &.active {
      border-right: 5px solid;
    }
  }
}
