<button
  class="flex"
  [matMenuTriggerFor]="menu"
  aria-label="PopupMenu"
  *ngIf="!popupMenuConfig?.isHidden"
>
  <mat-icon class="self justify-items-end justify-self-end">more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <span
    *ngFor="
      let additionalPopupMenuItem of popupMenuConfig?.additionalPopupMenuItems
    "
  >
    <button mat-menu-item (click)="additionalPopupMenuItem.onClick()">
      {{ additionalPopupMenuItem.text | translate }}
    </button>
  </span>
  <button
    mat-menu-item
    *ngIf="popupMenuConfig?.isEditVisible"
    (click)="popupMenuConfig?.onEdit()"
  >
    {{ "shared.operations.edit" | translate }}
  </button>
  <button
    mat-menu-item
    *ngIf="popupMenuConfig?.isDeleteVisible"
    (click)="popupMenuConfig?.onDelete()"
  >
    {{ "shared.operations.delete" | translate }}
  </button>
</mat-menu>
