<button class="btn btn-outline-primary" (click)="openModal()">
  {{ "Change" | translate }}
</button>
<app-modal #modal [modalConfig]="modalConfig">
  <div class="row g-3" [formGroup]="changePasswordForm">
    <app-error [errorMessages]="errorMessages"></app-error>
    <app-password-input
      formControlName="currentPassword"
      labelText="Current password"
    ></app-password-input>
    <app-passwords-form
      #passwordForm
      formControlName="newPassword"
    ></app-passwords-form>
  </div>
</app-modal>
