<form>
  <mat-form-field class="w-full" appearance="fill">
    <mat-label> {{ "Currency" | translate }}</mat-label>
    <mat-select [required]="isRequired" [(value)]="selectedCurrency">
      <mat-option
        *ngFor="let currency of currencies"
        [value]="currency"
        (selectionChange)="selectCurrency(currency)"
      >
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error
    class="invalid-feedback"
    *ngIf="control?.touched && !control?.valid"
  >
    <mat-error *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </mat-error>
  </mat-error>
</form>
