<ng-template #confirmationModal>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ confirmationModalConfig.modalTitle! | translate }}
    </h5>
    <h4>
      <fa-icon
        [icon]="dismissIcon"
        (click)="dismiss()"
        class="dismiss-icon"
      ></fa-icon>
    </h4>
  </div>
  <div class="modal-body">
    {{ confirmationModalConfig.confirmationText! | translate }}
    <span
      *ngIf="
        confirmationModalConfig.confirmationProperties &&
        confirmationModalConfig.confirmationProperties.length > 0
      "
    >
      <span>{{ getJoinedConfirmationProperties() }}?</span>
    </span>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="close()"
    >
      {{ confirmationModalConfig.noButtonText! | translate }}
    </button>
    <app-button
      [text]="confirmationModalConfig.yesButtonText! | translate"
      (onButtonClick)="save()"
    ></app-button>
  </div>
</ng-template>
