<ng-template #confirmationModal>
  <h2 class="modal-title" mat-dialog-title>
    {{ confirmationModalConfig.modalTitle! | translate }}
  </h2>
  <mat-dialog-content class="mat-typography">
    {{ confirmationModalConfig.confirmationText! | translate }}
    <span
      *ngIf="
        confirmationModalConfig.confirmationProperties &&
        confirmationModalConfig.confirmationProperties.length > 0
      "
    >
      <span class="font-medium">{{ getJoinedConfirmationProperties() }}?</span>
    </span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      data-bs-dismiss="modal"
      (click)="close()"
    >
      {{ confirmationModalConfig.noButtonText! | translate }}
    </button>
    <app-button
      [text]="confirmationModalConfig.yesButtonText! | translate"
      (onButtonClick)="confirm()"
    ></app-button>
  </mat-dialog-actions>
</ng-template>
