<div [formGroup]="passwordForm" class="flex-1">
  <mat-form-field>
    <mat-label>{{ passwordLabel | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'Password' | translate"
      [formControl]="passwordControl!"
      [required]="true"
      type="password"
    />
    <mat-error *ngIf="passwordControl?.touched && !passwordControl?.valid">
      <mat-error *ngIf="passwordControl?.errors?.['required']">
        {{ "This field is required." | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          passwordControl?.hasError('invalidFormat') &&
          passwordControl?.value.length > 0
        "
      >
        {{ passwordControl.errors?.['invalidFormat']  | translate }}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ confirmPasswordLabel | translate }}</mat-label>
    <input
      matInput
      [placeholder]="'Confirm password' | translate"
      [formControl]="confirmPasswordControl"
      [required]="true"
      type="password"
    />
    <mat-error
      *ngIf="confirmPasswordControl?.touched && !confirmPasswordControl?.valid"
    >
      <mat-error *ngIf="confirmPasswordControl?.errors?.['required']">
        {{ "This field is required." | translate }}
      </mat-error>
      <mat-error
        *ngIf="
          confirmPasswordControl?.hasError('invalidFormat') &&
          confirmPasswordControl?.value.length > 0
        "
      >
        {{ confirmPasswordControl.errors?.['invalidFormat']  | translate }}
      </mat-error>
    </mat-error>
  </mat-form-field>
  <div
    *ngIf="
      passwordControl.touched &&
      confirmPasswordControl.touched &&
      passwordForm.hasError('missmatch')
    "
    class="sharedhome-errormessage"
  >
    {{ "Passwords do not match." | translate }}
  </div>
</div>
