<form [formGroup]="registerForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <div>{{ successRegistrationInformation }}</div>
  <app-text-input
    formControlName="email"
    label="Email"
    placeholder="Email"
  ></app-text-input>
  <app-text-input
    label="identity.first_name"
    placeholder="identity.first_name"
    formControlName="firstName"
  ></app-text-input>
  <app-text-input
    label="identity.last_name"
    placeholder="identity.last_name"
    formControlName="lastName"
  ></app-text-input>
  <app-password-form
    class="flex"
    #passwordForm
    formControlName="password"
  ></app-password-form>
  <app-button
    class="flex"
    text="identity.sign_up"
    type="submit"
    [disabled]="disabled"
    [loading]="loadingSaveButton"
    [fullWidth]="true"
  ></app-button>
</form>
<hr class="mt-4 mb-2" />
<div class="text-center mb-2">
  {{ "identity.have_an_account" | translate }}?
</div>
<app-button
  class="flex"
  [routerLink]="['/identity/login']"
  text="identity.login"
  type="submit"
  [fullWidth]="true"
></app-button>
