<form class="row g-3" [formGroup]="registerForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <div *ngIf="information">{{ information | translate }}</div>
  <app-email-input formControlName="email"></app-email-input>
  <app-text-input
    [labelText]="'First name' | translate"
    [placeholder]="'First name' | translate"
    formControlName="firstName"
  ></app-text-input>
  <app-text-input
    [labelText]="'Last name' | translate"
    [placeholder]="'Last name' | translate"
    formControlName="lastName"
  ></app-text-input>
  <app-passwords-form
    #passwordForm
    formControlName="password"
  ></app-passwords-form>
  <app-button
    class="d-grid col-12"
    [text]="'Sign up' | translate"
    type="submit"
    [disabled]="disabled"
  ></app-button>
</form>
<hr class="mt-4" />
<app-button
  [routerLink]="['/identity/login']"
  class="d-grid col-12 mb-4"
  [text]="'Login' | translate"
  type="submit"
></app-button>
