<div class="icon-wrapper">
  <div class="dropdown">
    <span
      class="account btn btn-primary ms-2"
      data-bs-toggle="dropdown"
      *ngIf="profileImage$ | async as profileImage"
    >
      <div *ngIf="profileImage.url != null; else noProfileImage">
        <img [src]="profileImage.url" />
      </div>
      <ng-template #noProfileImage>
        {{ userFullName | firstLettersToTitleCase }}
      </ng-template>
      <div class="dropdown-menu" aria></div>
    </span>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li>
        <a
          class="dropdown-item"
          [routerLink]="['/profile']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ "settings" | translate }}</a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="logout()">{{
          "logOut" | translate
        }}</a>
      </li>
    </ul>
  </div>
</div>
