<button
  mat-fab
  color="primary"
  mat-icon-button
  class="sharedhome-circle-btn"
  [matMenuTriggerFor]="profileMenu"
  *ngIf="profileImage$ | async as profileImage; else noProfileImage"
>
  <img
    class="rounded-full"
    *ngIf="profileImage.url != null; else noProfileImage"
    [src]="profileImage?.url"
  />
</button>

<ng-template #noProfileImage>
  <span class="username">
    {{ userFullName | firstLettersToTitleCase }}
  </span>
</ng-template>

<mat-menu #profileMenu="matMenu">
  <a
    [routerLink]="['/profile']"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-menu-item
  >
    <mat-icon>settings</mat-icon>
    <span>{{ "settings" | translate }}</span>
  </a>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>{{ "logOut" | translate }}</span>
  </button>
</mat-menu>
