<nav
  class="flex flex-row items-center justify-center content-end w-full"
  aria-label="pagination"
>
  <app-button
    aria-label="Go To Previos Page"
    text="previous_page"
    [hidden]="totalPages === 1"
    [disabled]="currentPage === 1"
    (click)="onPrevious()"
  >
  </app-button>
  <span class="mx-2" *ngFor="let page of pages">
    <a
      class="text-decoration-none fw-bold"
      [attr.aria-current]="page === currentPage ? 'page' : null"
      [class.current]="page === currentPage"
      tabindex="0"
      (click)="onGoTo(page)"
      (keyup.enter)="onGoTo(page)"
    >
      {{ page }}</a
    >
  </span>
  <app-button
    aria-label="Go To Next Page"
    text="next_page"
    [hidden]="totalPages === 1"
    [disabled]="currentPage === totalPages"
    (click)="onNext()"
  >
  </app-button>
</nav>
