<div
  class="d-flex flex-column mx-auto"
  *ngIf="userInformation$ | async as userInformation; else loading"
>
  <div class="w-100 border-bottom mb-2">
    <h4>{{ "General information" | translate }}</h4>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div class="fw-bold">{{ "Personal data" | translate }}:</div>
    <div>{{ userInformation.firstName }} {{ userInformation.lastName }}</div>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div class="fw-bold">Email:</div>
    <div>
      {{ userInformation.email }}
    </div>
  </div>

  <div class="w-100 border-bottom mb-2">
    <h4>{{ "Account" | translate }}</h4>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2 col-xxl-2 fw-bold">
      {{ "Password" | translate }}:
    </div>
    <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"></div>
    <div class="col d-flex justify-content-end">
      <app-change-password-modal></app-change-password-modal>
    </div>
  </div>

  <div class="row align-items-center mb-3">
    <div class="col-3 col-sm-4 col-md-3 col-lg-3 col-xl-2 col-xxl-2 fw-bold">
      {{ "Profile image" | translate }}:
    </div>
    <div class="col col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-2"></div>
    <div class="col d-flex justify-content-end">
      <app-upload-profile-image-modal></app-upload-profile-image-modal>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
