<div
  class="flex flex-col mx-auto"
  *ngIf="userInformation$ | async as userInformation; else loading"
>
  <div class="w-full border-b-2 mb-2 text-lg">
    {{ "General information" | translate }}
  </div>

  <div class="flex justify-between mb-3">
    <div>{{ "Personal data" | translate }}:</div>
    <div>{{ userInformation.firstName }} {{ userInformation.lastName }}</div>
  </div>

  <div class="flex justify-between mb-3">
    <div class="fw-bold">Email:</div>
    <div>
      {{ userInformation.email }}
    </div>
  </div>

  <div class="w-full border-b-2 mb-2 text-lg">
    {{ "Account" | translate }}
  </div>
  <div class="flex flex-row justify-between items-center mb-3">
    <div>{{ "Password" | translate }}:</div>

    <app-change-password-modal> </app-change-password-modal>
  </div>

  <div class="flex flex-row justify-between items-center mb-3">
    <div>{{ "Profile image" | translate }}:</div>
    <app-upload-profile-image-modal></app-upload-profile-image-modal>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
