<div class="row g-3" [formGroup]="purchaseShoppingListProductForm">
  <!-- <div *ngIf="errorMessages.length > 0" class="col-md-12">
    <div
      *ngFor="let errorMessage of errorMessages"
      class="sharedhome-errormessage"
    >
      {{ errorMessage }}
    </div>
  </div> -->
  <h4 *ngIf="productName">{{ productName }}</h4>
  <app-number-input
    formControlName="price"
    labelText="Price"
    placeholder="Price"
    [isRequired]="true"
  ></app-number-input>
  <app-currency-select formControlName="currency"> </app-currency-select>
</div>
