<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let map of columnMaps">{{ map.header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td *ngFor="let map of columnMaps" [id]="map.header">
          {{ record[map.propertyName] | formatCell: map.format! }}
        </td>
        <td *ngIf="actions">
          <app-popup-menu [popupMenuConfig]="actions"></app-popup-menu>
        </td>
      </tr>
    </tbody>
  </table>
</div>
