<div
  class="container text-center py-4 w-75 md:w-50 mx-auto"
  appDragAndDrop
  (fileDropped)="onFileDropped($event)"
>
  <h4>{{ "Drag and drop file here" | translate }}</h4>
  <h4>{{ "or" | translate }}</h4>
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    accept="image/*"
    (change)="selectFile($event)"
  />
  <app-button text="Browse for file" for="fileDropRef"></app-button>
  <div *ngIf="error" class="text-danger">{{ error | translate }}</div>
</div>
<div class="flex flex-col items-end mt-2" *ngIf="file">
  <div class="flex flex-row mb-1">
    <img [src]="preview" class="preview px-2" />
    <span class="flex justify-center items-center">
      <mat-icon (click)="deleteFile()" [title]="'Delete' | translate"
        >delete</mat-icon
      >
    </span>
  </div>

  {{ formatBytes(file.size) }}
</div>
