.sharedhome-circle-btn {
  box-shadow: none;
  border-radius: 50%;
  width: 45px !important;
  height: 45px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
