<div class="flex flex-col h-full">
  <div
    [formGroup]="shoppingListForm"
    class="flex flex-row content-center items-center justify-between pb-2 gap-x-1"
  >
    <div class="flex flex-row items-center gap-x-2">
      <app-year-month-input
        formControlName="yearAndMonth"
        label="shopping_lists.year_and_month"
      ></app-year-month-input>
      <app-single-enum-select
        label="shopping_lists.status"
        [enumType]="shoppingListStatus"
        formControlName="status"
      ></app-single-enum-select>
    </div>
    <app-add-shopping-list
      class="pb-5 md:pb-7"
      [year]="year"
      [month]="month"
    ></app-add-shopping-list>
  </div>

  <div
    class="flex-grow flex flex-col"
    *ngIf="paged$ | async as paged; else loading"
  >
    <div class="flex-grow">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-y-2 gap-x-4"
      >
        <div *ngFor="let shoppingList of paged.items">
          <app-single-shopping-list
            [shoppingList]="shoppingList"
          ></app-single-shopping-list>
        </div>
      </div>
    </div>

    <app-pagination
      [currentPage]="paged.currentPage"
      [totalPages]="paged.totalPages"
      (nextPage)="onNext()"
      (previousPage)="onPrevious()"
      (goToPage)="goTo($event)"
    ></app-pagination>
  </div>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
