@import "/src/assets/_variables.scss";

.shopping-lists-list-view {
  display: flex;
  flex-direction: column;
}

.shopping-lists {
  position: relative;
  margin-top: 10px;
}

.bottom-tab {
  margin-top: auto;
  display: flex;
  margin-bottom: 5px;
}
