@import "/src/assets/_variables.scss";

.shopping-lists-list-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.bottom-tab {
  margin-top: auto;
  margin-bottom: 5px;
}
