<div class="shopping-lists-list-view">
  <div class="operations">
    <div class="operations__left">
      <div [formGroup]="shoppingListForm">
        <app-text-input
          formControlName="yearAndMonth"
          labelText="Year and month"
          placeholder="Year and Month"
          (change)="onCurrentYearAndMonthChange()"
        ></app-text-input>
      </div>
      <div [formGroup]="shoppingListForm">
        <app-single-select
          #statusSelect
          labelText="Status"
          [enumType]="shoppingListStatus"
          formControlName="status"
        ></app-single-select>
      </div>
    </div>
    <app-add-shopping-list
      [year]="year"
      [month]="month"
    ></app-add-shopping-list>
  </div>
  <ng-container *ngIf="loadingService.loading$ | async">
    <app-loading-spinner></app-loading-spinner>
  </ng-container>
  <div class="shopping-lists row">
    <div
      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
      *ngFor="let shoppingList of shoppingLists$ | async"
    >
      <app-single-shopping-list
        [shoppingList]="shoppingList"
      ></app-single-shopping-list>
    </div>
  </div>
</div>
