<app-form-modal
  #editShoppingListProductModal
  [modalConfig]="modalConfig"
  [formGroup]="editShoppingListProductForm"
>
  <div class="row g-3" [formGroup]="editShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      label="Product Name"
      placeholder="Product Name"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      label="Quantity"
      placeholder="Quantity"
    ></app-number-input>
    <div class="col-md-6">
      <app-text-input
        formControlName="netContent"
        label="Net Content"
        placeholder="Net Content"
      ></app-text-input>
    </div>
    <div class="col md-6">
      <app-single-enum-select
        formControlName="netContentType"
        label="Net Content Type"
        [enumType]="netContentType"
      ></app-single-enum-select>
    </div>
  </div>
</app-form-modal>
