<app-form-modal
  #editShoppingListProductModal
  [modalConfig]="modalConfig"
  [formGroup]="editShoppingListProductForm"
>
  <div [formGroup]="editShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      label="shopping_lists.product_name"
      placeholder="shopping_lists.product_name"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      label="shopping_lists.quantity"
      placeholder="shopping_lists.quantity"
    ></app-number-input>
    <app-net-content-form
      [parentFormGroup]="editShoppingListProductForm"
    ></app-net-content-form>
  </div>
</app-form-modal>
