<app-form-modal
  #editShoppingListProductModal
  [modalConfig]="modalConfig"
  [formGroup]="editShoppingListProductForm"
>
  <div class="row g-3" [formGroup]="editShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      [label]="'Product Name' | translate"
      [placeholder]="'Product Name' | translate"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      [label]="'Quantity' | translate"
      [placeholder]="'Quantity' | translate"
    ></app-number-input>
    <div class="col-md-6">
      <app-text-input
        formControlName="netContent"
        [label]="'Net Content' | translate"
        [placeholder]="'Net Content' | translate"
      ></app-text-input>
    </div>
    <div class="col md-6">
      <app-single-enum-select
        formControlName="netContentType"
        [label]="'Net Content Type' | translate"
        [enumType]="netContentType"
      ></app-single-enum-select>
    </div>
  </div>
</app-form-modal>
