<div class="w-12 language-select mt-1.5">
  <mat-select
    [(value)]="selectedLanguage"
    (selectionChange)="onLanguageChanged($event.value)"
  >
    <mat-select-trigger class="flex flex-row gap-x-2 items-center"
      ><img
        width="20"
        height="20"
        [src]="flags[languageService.language]"
        alt="poland"
        class="flag"
      />
      {{ selectedLanguage }}
    </mat-select-trigger>
    <mat-option *ngFor="let language of languages" [value]="language">
      <span class="flex flex-row gap-x-2 items-center">
        <img
          height="20"
          width="20"
          [src]="flags[language]"
          alt="poland"
          class="flag"
        />
        {{ language }}
      </span>
    </mat-option>
  </mat-select>
</div>
