<div class="form-floating">
  <div class="shared__home">
    <span
      class="toggle"
      id="dropdownMenuLink"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img [src]="flags[languageService.language]" alt="poland" class="flag" />
      {{ languageService.language | translate }}
    </span>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li
        class="dropdown-item"
        *ngFor="let lang of translateService.getLangs()"
        (click)="onLanguageChanged(lang)"
      >
        <img [src]="flags[lang]" alt="poland" class="flag" />
        {{ lang }}
      </li>
    </ul>
  </div>
</div>
