<app-form-modal #modal [modalConfig]="modalConfig" [formGroup]="editBillForm">
  <div class="row g-3" [formGroup]="editBillForm">
    <app-text-input
      formControlName="serviceProviderName"
      [label]="'Service Provider' | translate"
      [placeholder]="'Service Provider' | translate"
    ></app-text-input>
    <app-single-enum-select
      formControlName="billType"
      [label]="'Type' | translate"
      [enumType]="billTypeType"
      [firstValueSelected]="true"
    ></app-single-enum-select>
    <app-money-form
      *ngIf="bill?.cost"
      [moneyFormGroup]="editBillForm.get('money') | formGroup"
    ></app-money-form>
    <!-- <app-date-input
      [label]="'Date of Payment' | translate"
      formControlName="dateOfPayment"
    ></app-date-input> -->
  </div>
</app-form-modal>
