<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-12 col-md-4 mb-3" [formGroup]="shoppingListForm">
      <app-text-input
        formControlName="yearAndMonth"
        labelText="Year and month"
        placeholder="Year and Month"
        [value]="shoppingListForm.get('yearAndMonth')?.value"
        (change)="onCurrentYearAndMonthChanged()"
      ></app-text-input>
    </div>
  </div>
  <div class="shopping-lists">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-6">
        <div class="card shopping-list">
          <div class="card-header">
            <h3 class="card-title">Biedronka</h3>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
          </ul>
          <div class="card-footer">
            <div class="creator-name">Karol Niedziela</div>
            <div>Total price:</div>
            <div class="w-100"></div>
            <div>2 / 3 items bought</div>
            <h5>$6.18</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-6">
        <div class="card shopping-list">
          <div class="card-header">
            <h3 class="card-title">Biedronka</h3>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
          </ul>
          <div class="card-footer">
            <div class="creator-name">Karol Niedziela</div>
            <div>Total price:</div>
            <div class="w-100"></div>
            <div>2 / 3 items bought</div>
            <h5>$6.18</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-6">
        <div class="card shopping-list">
          <div class="card-header">
            <h3 class="card-title">Biedronka</h3>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
          </ul>
          <div class="card-footer">
            <div class="creator-name">Karol Niedziela</div>
            <div>Total price:</div>
            <div class="w-100"></div>
            <div>2 / 3 items bought</div>
            <h5>$6.18</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-6">
        <div class="card shopping-list">
          <div class="card-header">
            <h3 class="card-title">Biedronka</h3>
            <fa-icon
              [icon]="moreOptionsIcon"
              class="shopping-lists__more-options-icon"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true"
            ></fa-icon>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Make done</a></li>
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">Delete</a></li>
            </ul>
          </div>
          <ul class="list-group list-group-flush shopping-lists__products">
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
            <li class="list-group-item product">
              <div class="product__name">
                <h4>Apple Juice</h4>
                <h5 class="bought-status">
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
              </div>
              <h5>$2.99</h5>
              <div class="w-100"></div>
              <div class="quantity">250ml</div>
              <div>2</div>
            </li>
          </ul>
          <div class="card-footer">
            <div class="creator-name">Karol Niedziela</div>
            <div>Total price:</div>
            <div class="w-100"></div>
            <div>2 / 3 items bought</div>
            <h5>$6.18</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
