<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-12 col-md-4 mb-3" [formGroup]="shoppingListForm">
      <app-text-input
        formControlName="yearAndMonth"
        labelText="Year and month"
        placeholder="Year and Month"
        [value]="shoppingListForm.get('yearAndMonth')?.value"
        (change)="onCurrentYearAndMonthChanged()"
      ></app-text-input>
    </div>
  </div>
  <app-add-shopping-list [year]="year" [month]="month"></app-add-shopping-list>
  <div class="shopping-lists">
    <div class="row">
      <div
        class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
        *ngFor="let shoppingList of shoppingLists"
      >
        <div class="card shopping-list">
          <div class="card-header">
            <h3 class="card-title">{{ shoppingList.name }}</h3>

            <div class="card-header__operations">
              <fa-icon
                [icon]="detailsIcon"
                class="shared-home-icon"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Details"
                aria-haspopup="true"
                aria-expanded="true"
                (click)="openShoppingList(shoppingList.id)"
              ></fa-icon>
              <fa-icon
                [icon]="moreOptionsIcon"
                class="shared-home-icon"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true"
              ></fa-icon>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Make done</a></li>
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </div>
          <ul
            class="list-group list-group-flush shopping-lists__products"
            (click)="openShoppingList(shoppingList.id)"
          >
            <li
              class="list-group-item product"
              *ngFor="let product of shoppingList.products | slice: 0:3"
            >
              <div class="product__name">
                <h4>{{ product.name }}</h4>
                <h5
                  class="bought-status"
                  *ngIf="product.isBought; else notBought"
                >
                  <fa-icon [icon]="boughtIcon"></fa-icon>
                </h5>
                <ng-template #notBought>
                  <h5 class="not-bought-status">
                    <fa-icon [icon]="notBoughtIcon"></fa-icon>
                  </h5>
                </ng-template>
              </div>
              <div
                *ngIf="product?.price != null; then thenBlock; else elseBlock"
              ></div>
              <ng-template #thenBlock
                ><h5>
                  {{ product?.price }} {{ product?.currency }}
                </h5></ng-template
              >
              <ng-template #elseBlock><h5>No price</h5></ng-template>
              <div class="w-100"></div>
              <div
                class="quantity"
                *ngIf="product.netContent != null; else emptyNetContent"
              >
                {{ product.netContent }} {{ product.netContentType }} &nbsp;
              </div>
              <ng-template #emptyNetContent> &nbsp; </ng-template>
              <div>{{ product.quantity }}</div>
            </li>
          </ul>
          <div class="card-footer">
            <div class="creator-name">
              {{ shoppingList.createdByFirstName }}
              {{ shoppingList.createdByLastName }}
            </div>
            <div>Total price:</div>
            <div class="w-100"></div>
            <div>
              {{ shoppingList.countBoughtProducts() }} /
              {{ shoppingList.products?.length }} products bought
            </div>
            <h5>{{ shoppingList.countTotalPrice() }} zł</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
