@import "/src/assets/_variables.scss";

.container-fluid {
  width: 80%;
  margin: 0 auto;
}

.shopping-lists {
  margin-top: 10px;

  .shopping-list {
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: $l_white_color;
    box-shadow: 0px 10px 20px $l_primary_color_light;
    font-family: "Open Sans";
  }

  &__more-options-icon {
    position: absolute;
    padding: 10px;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    font-size: 1.5rem;
  }

  &__more-options-icon:hover {
    color: $l_primary_color;
    cursor: pointer;
  }

  .card-header {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: left;
    background-color: #ffffff;
    border-bottom: none;
  }

  .product {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;

    &__name {
      display: flex;
      align-items: center;
      justify-content: center;

      & * {
        padding-right: 10px;
      }

      .bought-status {
        color: green;
      }
    }

    .quantity {
      color: gray;
    }
  }

  .card-footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;

    .creator-name {
      font-size: 20px;
    }

    .total-price {
      font-weight: 700;
    }
  }
}
