<div class="form-floating">
  <input
    type="number"
    class="form-control sharedhome__input register__input"
    [placeholder]="'placeholder' | translate"
    (input)="onChanged($any($event.target).value)"
    (blur)="onTouched()"
    [disabled]="disabled"
    [ngClass]="{
      'is-invalid': control?.touched && !control?.valid
    }"
    [value]="control?.value"
  />
  <label class="sharedhome__label"
    >{{ labelText | translate }}
    <span *ngIf="isRequired" class="required" aria-required="true"> * </span>
  </label>

  <div class="invalid-feedback" *ngIf="control?.touched && !control?.valid">
    <div *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </div>
    <div *ngIf="control?.hasError('min')">
      {{ "This field value must be higher or equal to" | translate }}
      {{ control?.errors?.['min'].min }}.
    </div>
    <div *ngIf="control?.hasError('max')">
      {{ "This field value must be lower or equal to" | translate }}
      {{ control?.errors?.['max'].max}}.
    </div>
  </div>
</div>
