<mat-form-field class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [placeholder]="placeholder"
    [formControl]="control! | formControl"
    type="number"
    step="0.01"
    min="0"
    [required]="isRequired"
  />
  <mat-error
    class="invalid-feedback"
    *ngIf="control?.touched && !control?.valid"
  >
    <mat-error *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </mat-error>
    <mat-error *ngIf="control?.hasError('min')">
      {{ "This field value must be higher or equal to" | translate }}
      {{ control?.errors?.['min'].min }}.
    </mat-error>
    <mat-error *ngIf="control?.hasError('max')">
      {{ "This field value must be lower or equal to" | translate }}
      {{ control?.errors?.['max'].max}}.
    </mat-error>
  </mat-error>
</mat-form-field>
