<ng-template #modal>
  <div class="header">
    <h2 mat-dialog-title>{{ modalConfig.modalTitle | translate }}</h2>
  </div>
  <div class="modal-body">
    <app-error [errorMessages]="errorMessages"></app-error>
    <ng-content class="w-full"></ng-content>
  </div>
  <div class="flex flex-row justify-end gap-5 pt-5">
    <button
      *ngIf="modalConfig.isCloseButtonVisible"
      type="button"
      class="btn btn-secondary me-2"
      data-bs-dismiss="modal"
      (click)="close()"
    >
      {{ modalConfig.closeButtonLabel! | translate }}
    </button>

    <app-button
      *ngIf="modalConfig.isSaveButtonVisible"
      [text]="modalConfig.saveButtonLabel! | translate"
      type="button"
      [disabled]="disabled"
      (onButtonClick)="onSave()"
      [loading]="loadingSaveButton"
    >
    </app-button>
  </div>
</ng-template>
