<mat-form-field class="full-width-field">
  <mat-label>Choose a date</mat-label>
  <input
    (input)="onChanged($any($event.target).value)"
    matInput
    [matDatepicker]="picker"
    (blur)="onTouched()"
    [formControl]="control! | formControl"
    [required]="isRequired"
    placeholder="MM/DD/YYYY"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-error
    class="invalid-feedback"
    *ngIf="control?.touched && !control?.valid"
  >
    <mat-error *ngIf="control?.errors?.['required']">
      {{ "This field is required." | translate }}
    </mat-error>
  </mat-error>
</mat-form-field>
