<hr />
<div class="row g-3" [formGroup]="addShoppingListProductForm">
  <app-text-input
    formControlName="productName"
    labelText="Product Name"
    placeholder="Product Name"
  ></app-text-input>
  <app-number-input
    formControlName="quantity"
    labelText="Quantity"
    placeholder="Quantity"
  ></app-number-input>
  <app-net-content-form
    [netContentFormGroup]="
      addShoppingListProductForm.get('netContent') | formGroup
    "
  ></app-net-content-form>
  <app-button
    class="product__button"
    text="Remove product"
    (onButtonClick)="removeProduct()"
  ></app-button>
</div>
