@import "../../../../SharedHome.Client/wwwroot/variables/_variables.scss";

.form-control:focus + .sharedhome__label {
    color: $l_primary_color !important;
    opacity: 1;
    font-weight: 700;
}

.form-control:focus {
    color: $l_black_color;
    background-color: $l_white_color;
    border-color: $l_primary_color;
    box-shadow: 0 0 0 0.25rem $l_primary_color_light;
    outline: 0;
}

.required {
    color: $l_error_color;
}
