.form-control:focus + .sharedhome__label {
  color: #3f51b5 !important;
  opacity: 1;
  font-weight: 700;
}

.form-control:focus {
  color: black;
  background-color: white;
  border-color: #3f51b5;
  box-shadow: 0 0 0 0.25rem #bdc5fa;
  outline: 0;
}

.required {
  color: #dc3545;
}
