<div
  *ngIf="invitations$"
  [formGroup]="invitationForm"
  class="flex flex-row justify-start"
>
  <app-single-enum-select
    #statusSelected
    label="invitations.status"
    [enumType]="invitationStatus"
    formControlName="status"
  ></app-single-enum-select>
</div>
<div *ngIf="invitations$ | async as invitations; else loading">
  <app-table
    *ngIf="invitations.length > 0"
    [tableData]="invitations"
    [tableColumns]="invitationsTableColumns"
    [actions]="popupMenuConfigs"
  ></app-table>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<app-accept-invitation #acceptInvitationModal></app-accept-invitation>

<app-reject-invitation #rejectInvitationModal></app-reject-invitation>

<app-confirmation-modal
  [confirmationModalConfig]="deleteInvitationConfirmationModalConfig"
  #deleteInvitationConfirmationModal
></app-confirmation-modal>
