@import "/src/assets/_variables.scss";

.shopping-list {
  margin-bottom: 5px;

  &__products {
    list-style: none;
  }

  .card-header {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: none;
  }
}

.card-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid rgba(0, 0, 0, 12.5%);

  :nth-child(odd) {
    text-align: left;
  }

  :nth-child(even) {
    text-align: right;
  }
}
