<div
  class="card shopping-list-card"
  *ngIf="(shoppingList$ | async)?.data as shoppingList; else loading"
  [ngClass]="{ 'shopping-list-done': shoppingList.isDone }"
>
  <div class="card-header flex flex-row justify-between mb-2 text-xl px-4 pt-1">
    <div
      class="card-title"
      [ngClass]="{ 'text-decoration-line-through': shoppingList.isDone }"
    >
      {{ shoppingList.name }}
    </div>
    <div *ngIf="!shoppingList.isDone">
      <div
        *ngIf="
          !shoppingListProductsSelected ||
            shoppingListProductsSelected.length == 0;
          then headerPopup;
          else multipleSelectHeader
        "
      ></div>
      <ng-template #headerPopup>
        <app-popup-menu
          [popupMenuConfig]="headerPopupMenuConfig"
        ></app-popup-menu
      ></ng-template>
      <ng-template #multipleSelectHeader>
        <app-popup-menu
          [popupMenuConfig]="multipleItemsSelectedPopupMenuConfig"
        ></app-popup-menu
      ></ng-template>
    </div>
  </div>
  <ul class="list-group list-group-flush shopping-list-card__products">
    <li *ngFor="let product of shoppingList.products">
      <app-shopping-list-product
        #product
        class="single-product"
        [shoppingListProduct]="product"
        [shoppingListId]="shoppingListId"
        [isDone]="shoppingList.isDone"
      ></app-shopping-list-product>
    </li>
  </ul>
  <div
    class="card-footer grid grid-cols-2 gap-3 pt-0.5 pb-2 px-4 border-top text-base"
  >
    <div>
      {{ shoppingList.createdBy }}
    </div>
    <div class="justify-self-end">{{ "Total price" | translate }}:</div>
    <div>
      {{ countBoughtProducts(shoppingList) }} /
      {{ shoppingList.products.length }} {{ "products bought" | translate }}
    </div>
    <div class="justify-self-end">{{ countTotalPrice(shoppingList) }} zł</div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<app-add-shopping-list-product
  [shoppingListId]="shoppingListId"
  #addShoppingListProductForm
></app-add-shopping-list-product>

<app-confirmation-modal
  [confirmationModalConfig]="markAsDoneModalConfig"
  #markAsDoneModal
>
</app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="markAsUndoneModalConfig"
  #markAsUndoneModal
>
</app-confirmation-modal>

<app-confirmation-modal
  [confirmationModalConfig]="deleteShoppingListModalConfig"
  #deleteShoppingList
></app-confirmation-modal>

<app-edit-shopping-list-modal
  #editShoppingListModal
  [shoppingList]="shoppingList!"
  [isSingleRefresh]="true"
></app-edit-shopping-list-modal>

<app-confirmation-modal
  [confirmationModalConfig]="deleteSelectedProductsModalConfig"
  #deleteSelectedProductsModal
>
</app-confirmation-modal>

<app-purchase-shopping-list-products-modal
  #purchaseShoppingListProductsModal
  [shoppingListId]="shoppingListId"
  [shoppingListProducts]="shoppingListProductsSelected"
></app-purchase-shopping-list-products-modal>
