@import "/src/assets/_variables.scss";

.form-control:focus + .sharedhome__label {
  color: $l_primary_color !important;
  opacity: 1;
  font-weight: 700;
}

.form-control:focus {
  color: $l_black_color;
  background-color: $l_white_color;
  border-color: $l_primary_color;
  outline: 0;
}
