<form
  class="row g-3 mb-2 mt-2"
  [formGroup]="resetPasswordForm"
  (submit)="onSubmit()"
>
  <app-error [errorMessages]="errorMessages"></app-error>
  <div class="col-12 text-center fw-bold"><h3>Reset password</h3></div>

  <app-passwords-form
    formControlName="password"
    #passwordForm
  ></app-passwords-form>
  <app-button
    class="d-grid col-12"
    [text]="'Reset' | translate"
    type="submit"
  ></app-button>
  <div class="col-12 text-center">
    Have an account?
    <a class="text-decoration-none fw-bold" [routerLink]="['/identity/login']"
      >Login</a
    >
  </div>
</form>
