<form [formGroup]="resetPasswordForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <div class="text-center">
    <h3>{{ "identity.reset_password" | translate }}</h3>
  </div>

  <app-password-form
    formControlName="password"
    #passwordForm
  ></app-password-form>
  <div class="text-center mb-4">
    {{ "identity.have_an_account" | translate }}?
    <a
      class="text-decoration-none fw-bold"
      [routerLink]="['/identity/login']"
      >{{ "identity.login" | translate }}</a
    >
  </div>
  <app-button
    class="flex"
    text="shared.operations.reset"
    type="submit"
    [fullWidth]="true"
  ></app-button>
</form>
