@import "/src/assets/_variables.scss";

.form-control {
  text-align: left;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-toggle::after {
  position: absolute;
  right: 20px;
  bottom: 45%;
}

.dropdown-toggle:hover::after {
  color: $l_primary_color !important;
}

.dropdown-item {
  cursor: pointer;
}
