<form class="row gy-3" [formGroup]="loginForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <app-email-input formControlName="email"> </app-email-input>
  <app-password-input formControlName="password"></app-password-input>
  <app-button
    class="d-grid col-12"
    [text]="'Login' | translate"
    type="submit"
    [disabled]="disabled"
  ></app-button>
</form>
<div class="col-12 text-center mt-2">
  <a class="text-decoration-none" [routerLink]="['/identity/forgotpassword']"
    >{{ "Forgot password" | translate }}?</a
  >
</div>
<hr class="mt-4" />
<app-button
  [routerLink]="['/identity/register']"
  class="d-grid col-12 mb-4"
  [text]="'Sign up' | translate"
  type="submit"
></app-button>
