<form [formGroup]="loginForm" (submit)="onSubmit()">
  <app-error [errorMessages]="errorMessages"></app-error>
  <app-text-input
    formControlName="email"
    label="Email"
    placeholder="Email"
  ></app-text-input>
  <app-password-input
    class="flex flex-grow flex-1"
    formControlName="password"
    label="Password"
    placeholder="Password"
  >
  </app-password-input>
  <app-button
    class="flex"
    text="identity.login"
    type="submit"
    [disabled]="disabled"
    [loading]="loadingSaveButton"
    [fullWidth]="true"
  ></app-button>
</form>
<div class="col-12 text-center mt-2">
  <a class="text-decoration-none" [routerLink]="['/identity/forgotpassword']"
    >{{ "identity.forgot_password" | translate }}?</a
  >
</div>
<hr class="mt-4 mb-4" />
<app-button
  class="flex"
  [routerLink]="['/identity/register']"
  type="submit"
  text="identity.sign_up"
  [fullWidth]="true"
></app-button>
