<form class="row g-3 mb-2 mt-2" [formGroup]="loginForm" (submit)="onSubmit()">
  <app-email-input formControlName="email"> </app-email-input>
  <app-password-input formControlName="password"></app-password-input>
  <app-button class="d-grid col-12" text="Login" type="submit"></app-button>
</form>
<div class="col-12 text-center">
  <a>Forgot password?</a>
</div>
<hr class="mt-4" />
<app-button
  [routerLink]="['/identity/register']"
  class="d-grid col-12 mb-4"
  text="Sign up"
  type="submit"
></app-button>
