<div class="card-body product">
  <div class="product__item product__name">
    <h4>{{ shoppingListProduct.name }}</h4>
    <h5
      class="bought-status"
      *ngIf="shoppingListProduct.isBought; else notBought"
    >
      <fa-icon [icon]="boughtIcon"></fa-icon>
    </h5>
    <ng-template #notBought>
      <h5 class="not-bought-status">
        <fa-icon [icon]="notBoughtIcon"></fa-icon>
      </h5>
    </ng-template>
  </div>
  <h5 class="product__item product__price">
    <div
      *ngIf="shoppingListProduct.price != null; then thenBlock; else elseBlock"
    ></div>
    <ng-template #thenBlock
      ><h5>
        {{ shoppingListProduct.price?.price }}
        {{ shoppingListProduct.price?.currency }}
      </h5></ng-template
    >

    <ng-template #elseBlock><h5>No price</h5></ng-template>
  </h5>
  <h5 class="product__item product__net-content">
    <div *ngIf="shoppingListProduct.netContent != null; else emptyNetContent">
      {{ shoppingListProduct.netContent }}
      {{ shoppingListProduct.netContentType | enumAsString: netContentType }}
      &nbsp;
    </div>
    <ng-template #emptyNetContent> &nbsp; </ng-template>
  </h5>
  <div class="product__item product__quantity">
    {{ shoppingListProduct.quantity }}
  </div>
  <div class="product__more-options">
    <app-popup-menu [popupMenuConfig]="productPopupMenuConfig"></app-popup-menu>
  </div>
</div>

<app-confirmation-modal
  [confirmationModalConfig]="deleteShoppingListProductModalConfig"
  #deleteShoppingListProduct
></app-confirmation-modal>

<app-purchase-shopping-list-product
  [shoppingListId]="shoppingListId"
  [productName]="shoppingListProduct!.name"
  #purchaseShoppingListProductForm
></app-purchase-shopping-list-product>

<app-confirmation-modal
  [confirmationModalConfig]="cancelPurchaseShoppingListProductModalConfig"
  #cancelPurchaseShoppingListProduct
>
</app-confirmation-modal>

<app-edit-shopping-list-product-modal
  #editShoppingListProduct
  [shoppingListProduct]="shoppingListProduct"
  [shoppingListId]="shoppingListId"
></app-edit-shopping-list-product-modal>
