@import "/src/assets/_variables.scss";

.sharedhome-btn {
  border-radius: 6px;
  background-color: $l_primary_color;
  color: $l_white_color;
}

.sharedhome-btn:hover {
  background-color: $l_primary_color_dark !important;
}
