<div *ngIf="notificationsCount$ | async as notificationsCount">
  <mat-icon
    *ngIf="notificationsCount != '0'; else noNotifications"
    [matMenuTriggerFor]="notificationsMenu"
    [matBadge]="notificationsCount"
    matBadgeOverlap="true"
    matBadgeSize="small"
    (menuClosed)="onMenuClose($event)"
    matTooltip="notifications.module | translate"
    >notifications</mat-icon
  >
  <ng-template #noNotifications>
    <mat-icon
      [matMenuTriggerFor]="notificationsMenu"
      (menuClosed)="onMenuClose($event)"
      >notifications</mat-icon
    ></ng-template
  >
</div>
<mat-menu #notificationsMenu="matMenu" class="notifications-menu">
  <span class="notifications" *ngIf="notifications$ | async as notifications">
    <mat-list>
      <div class="flex flex-row justify-between items-center px-2 pb-2">
        <div class="text-xl">{{ "notifications.module" | translate }}</div>
        <div class="text-lg">
          <a [routerLink]="['notifications']">
            {{ "notifications.view_all" | translate }}
          </a>
        </div>
      </div>

      <mat-list-item role="list" *ngFor="let notification of notifications">
        <div
          class="notification-item flex flex-row justify-between w-full items-center"
        >
          <div class="flex flex-row gap-x-2 w-4/5 items-center">
            {{ notification.title }}
          </div>
          <div
            class="notification-item__status bg-green-500"
            *ngIf="!notification.isRead"
          ></div>
          <div
            class="notification-item__creator"
            *ngIf="notification.createdBy"
          >
            <span [title]="notification.createdBy"
              >{{ notification.createdBy | firstLettersToTitleCase }}
            </span>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </span>
</mat-menu>
