<mat-list-item class="border-b-2">
  <div class="flex flex-row justify-between w-full">
    <div>{{ member.fullName }}</div>
    <div
      class="flex flex-row justify-around items-center gap-2"
      *ngIf="member.isOwner"
    >
      <mat-icon
        *ngIf="member.isOwner"
        [title]="'house_groups.owner' | translate"
        >star_outline</mat-icon
      >
    </div>
    <div *ngIf="isCurrentUserOwner && !member.isOwner">
      <app-popup-menu [popupMenuConfig]="popupMenuConfig!"></app-popup-menu>
    </div>
  </div>
</mat-list-item>

<app-confirmation-modal
  [confirmationModalConfig]="removeMemberModalConfig"
  #removeMemberModal
></app-confirmation-modal>

<app-hand-owner-role-over
  #handOwnerRoleOverModal
  [houseGroupId]="houseGroupId"
  [member]="member"
></app-hand-owner-role-over>
