<div class="row g-3" [formGroup]="passwordForm">
  <div class="input-group">
    <div class="form-floating flex-grow-1">
      <input
        [type]="passwordTextField ? 'text' : 'password'"
        class="form-control sharedhome__input register__input"
        placeholder="Password"
        (input)="onChanged($any($event.target).value)"
        (blur)="onTouched()"
        formControlName="password"
        [ngClass]="{
          'is-invalid': passwordControl?.touched && !passwordControl?.valid
        }"
      />

      <label class="sharedhome__label">Password</label>
    </div>
    <span class="input-group-text" (click)="togglePassword()"
      ><fa-icon [icon]="passwordTextField ? eyeIcon : eyeSlashIcon"></fa-icon
    ></span>
    <div
      [ngClass]="{
        'd-block': passwordControl.touched && !passwordControl?.valid
      }"
      class="invalid-feedback"
      *ngIf="passwordControl?.touched && !passwordControl?.valid"
    >
      <div *ngIf="passwordControl?.hasError('invalidFormat')">
        {{  passwordControl?.errors?.['invalidFormat'] }}
      </div>
    </div>
  </div>
  <div class="input-group">
    <div class="form-floating flex-grow-1">
      <input
        [type]="confirmPasswordTextField ? 'text' : 'password'"
        class="form-control sharedhome__input register__input"
        placeholder="Confirm password"
        (input)="onChanged($any($event.target).value)"
        (blur)="onTouched()"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid':
            confirmPasswordControl?.touched && !confirmPasswordControl?.valid
        }"
      />

      <label class="sharedhome__label">Confirm password</label>
    </div>
    <span class="input-group-text" (click)="toggleConfirmPassword()"
      ><fa-icon
        [icon]="confirmPasswordTextField ? eyeIcon : eyeSlashIcon"
      ></fa-icon
    ></span>
    <div
      [ngClass]="{
        'd-block':
          confirmPasswordControl?.touched && !confirmPasswordControl?.valid
      }"
      class="invalid-feedback"
      *ngIf="confirmPasswordControl?.touched && !confirmPasswordControl?.valid"
    >
      <div *ngIf="confirmPasswordControl?.hasError('invalidFormat')">
        {{ confirmPasswordControl?.errors?.['invalidFormat'] }}
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="
    passwordControl.touched &&
    confirmPasswordControl.touched &&
    passwordForm.hasError('missmatch')
  "
  class="error"
>
  Passwords do not match.
</div>
