<div class="row g-3" [formGroup]="passwordForm">
  <div class="d-flex flex-row">
    <div class="form-floating w-100">
      <input
        [type]="passwordTextField ? 'text' : 'password'"
        class="form-control sharedhome__input register__input"
        placeholder="Password"
        (input)="onChanged($any($event.target).value)"
        (blur)="onTouched()"
        formControlName="password"
        [ngClass]="{
          'is-invalid': passwordControl.touched && !passwordControl.valid
        }"
      />
      <label class="sharedhome__label">
        {{ passwordLabel | translate }}
        <span class="required" aria-required="true"> * </span></label
      >
      <div
        class="invalid-feedback"
        *ngIf="passwordControl?.touched && !passwordControl?.valid"
      >
        <div *ngIf="passwordControl?.errors?.['required']">
          {{ "This field is required." | translate }}
        </div>
      </div>
    </div>

    <span class="input-group-text" (click)="togglePassword()"
      ><fa-icon [icon]="passwordTextField ? eyeIcon : eyeSlashIcon"></fa-icon
    ></span>
  </div>

  <div class="d-flex flex-row">
    <div class="form-floating w-100">
      <input
        [type]="confirmPasswordTextField ? 'text' : 'password'"
        class="form-control sharedhome__input register__input"
        placeholder="Confirm password"
        (input)="onChanged($any($event.target).value)"
        (blur)="onTouched()"
        formControlName="confirmPassword"
        [ngClass]="{
          'is-invalid':
            confirmPasswordControl.touched && !confirmPasswordControl.valid
        }"
      />
      <label class="sharedhome__label">
        {{ confirmPasswordLabel | translate }}
        <span class="required" aria-required="true"> * </span></label
      >
      <div
        class="invalid-feedback"
        *ngIf="
          confirmPasswordControl?.touched && !confirmPasswordControl?.valid
        "
      >
        <div *ngIf="confirmPasswordControl?.errors?.['required']">
          {{ "This field is required." | translate }}
        </div>
      </div>
    </div>

    <span class="input-group-text" (click)="toggleConfirmPassword()"
      ><fa-icon
        [icon]="confirmPasswordTextField ? eyeIcon : eyeSlashIcon"
      ></fa-icon
    ></span>
  </div>
</div>
<div
  *ngIf="
    passwordControl.touched &&
    confirmPasswordControl.touched &&
    passwordForm.hasError('missmatch')
  "
  class="error"
>
  {{ "Passwords do not match." | translate }}
</div>
