@import "/src/assets/_variables.scss";

.error {
  color: $l_error_color;
  font-size: 0.875em;
}

fa-icon {
  cursor: pointer;
}

@media only screen and (max-width: 380px) {
  .input-group-text {
    display: none;
  }
}
