@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import "/src/assets/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Roboto&display=swap");
@import "../node_modules/bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body,
my-app {
  width: 100%;
  height: 100%;
  font-family: "Damion", cursive;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/*
----------- Errors -----------
*/

.sharedhome-errormessage {
  color: $l_error_color;
  font-size: 0.875em;
  margin-top: 0.25rem;
}
