@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import "/src/assets/_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body,
my-app {
  width: 100%;
  height: 100%;
  font-family: "Open Sans" !important;
}

/*
----------- LINKS -----------
*/

a {
  text-decoration: none;
}

a:hover {
  color: $l_primary_color !important;
  cursor: pointer;
}

/*
----------- ICONS -----------
*/
.shared-home-icon:hover {
  cursor: pointer;
  color: $l_primary_color;
}

/*
----------- DROPDOWNS -----------
*/

.dropdown-item:hover {
  background-color: $l_primary_color_light !important;
}

/*
----------- Errors -----------
*/

.sharedhome-errormessage {
  color: $l_error_color;
}
