@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Damion", cursive;
  font-family: "Roboto", sans-serif;
}

body,
app-root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sharedhome-errormessage {
  color: red;
  font-size: 10.5px;
  margin-top: 0.25rem;
}
