<app-form-modal
  #addShoppingListProductModal
  [modalConfig]="modalConfig"
  [formGroup]="addShoppingListProductForm"
>
  <div class="row g-3" [formGroup]="addShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      [labelText]="'Product Name' | translate"
      [placeholder]="'Product Name' | translate"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      [labelText]="'Quantity' | translate"
      [placeholder]="'Quantity' | translate"
    ></app-number-input>
    <app-net-content-form
      [netContentFormGroup]="
        addShoppingListProductForm.get('netContent') | formGroup
      "
    ></app-net-content-form>
  </div>
  <app-add-many-shopping-list-products-form
    #addManyShoppingListProducts
  ></app-add-many-shopping-list-products-form>
</app-form-modal>
