<app-form-modal
  #addShoppingListProductModal
  [modalConfig]="modalConfig"
  [formGroup]="addShoppingListProductForm"
>
  <div class="w-full" [formGroup]="addShoppingListProductForm">
    <app-text-input
      formControlName="productName"
      label="shopping_lists.product_name"
      placeholder="shopping_lists.product_name"
    ></app-text-input>
    <app-number-input
      formControlName="quantity"
      label="shopping_lists.quantity"
      placeholder="shopping_lists.quantity"
    ></app-number-input>
    <app-net-content-form
      [parentFormGroup]="addShoppingListProductForm"
    ></app-net-content-form>
  </div>
  <app-add-many-shopping-list-products-form
    #addManyShoppingListProducts
  ></app-add-many-shopping-list-products-form>
</app-form-modal>
